%title {
    font-size: 37px;
    color: #e6e6e6;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%btn-cta {
    @extend %flex-center;
    font-weight: 500;
    font-size: 20px;
    padding: 7px 15px;
    border: 2px solid $blue;
    color: #fff;
    background: $blue;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: "Baloo 2", sans-serif;
}

%btn-cta:hover {
    background-color: lighten($color: $blue, $amount: 5);
}

@media screen and (max-width: 700px) {
    %title {
        font-size: 27px;
    }
}